<launch>

<rosparam command="load" file="home_directory.yaml"/>
<rosparam command="load" file="csv_data_filename.yaml"/>

<rosparam command="load" file="tracker_parameters.yaml"/>
<rosparam command="load" file="data_association_parameters.yaml"/>
<rosparam command="load" file="delta_video_parameters.yaml"/>

<node name="tracker_2" pkg="multi_tracker" type="tracker_simplebuffer.py" output="screen" args="--nodenum=2" />
<node name="data_association_2" pkg="multi_tracker" type="data_association.py" output="screen" args="--nodenum=2" />
<node name="save_hdf5_data_2" pkg="multi_tracker" type="save_data_to_hdf5.py" output="screen" args="--nodenum=2" />
<node name="liveview_2" pkg="multi_tracker" type="liveviewer.py" output="screen" args="--nodenum=2" />

<node name="delta_video_2" pkg="multi_tracker" type="delta_video_simplebuffer.py" output="screen" args="--nodenum=2" />

</launch>
