<launch>
<arg name="path" default="/home/caveman/catkin_ws/src/multi_tracker/examples/sample_data" />

<rosparam command="load" file="launch_delta_video_parameters.yaml"/>

<node name="rosbag_player" pkg="rosbag" type="play" output="screen" args="$(arg path)/20160412_134708_N1_delta_video.bag --clock --pause" />
<node name="delta_video_player" pkg="multi_tracker" type="delta_video_player.py" args="--in='/multi_tracker/1/delta_video' --out='/camera/image_raw' --directory=$(arg path)" />
<node name="image_viewer" pkg="image_view" type="image_view" args="image:=/camera/image_raw" />

</launch>
