<launch>

<rosparam command="load" file="home_directory.yaml"/>
<rosparam command="load" file="csv_data_filename.yaml"/>

<rosparam command="load" file="camera_parameters.yaml"/>

<rosparam command="load" file="tracker_parameters.yaml"/>
<rosparam command="load" file="data_association_parameters.yaml"/>

<include file="$(find pointgrey_camera_driver)/launch/camera.launch" />

<node name="tracker" pkg="multi_tracker" type="tracker.py" />
<node name="data_association" pkg="multi_tracker" type="data_association.py" />
<node name="save_data_to_csv" pkg="multi_tracker" type="save_data_to_csv.py" />

</launch>
